html {
  min-width: 600px;
}

body {
  background-color: #eae7dc;
  margin: 0;
}

.errorMessage {
  display: block;
  color: red;
  font-size: 20px;
  text-align: center;
}

.hide {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
