.mainHeading {
  text-align: center;
  color: #e85a4f;
}

.customSelect {
  display: block;
  width: 30%;
  margin: auto;
  text-align-last: center;
  background-color: #d8c3a5;
  font-weight: bold;
  height: 30px;
  border-radius: 20px;
}

.tripArticle {
  background-color: #d8c3a5;
  border: 1px solid #8d8e8a;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 10px;
}

.tripArticleHeading {
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
}

.stopsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stopArticle {
  padding: 10px;
  margin: 5px;
  border: 1px solid #8d8e8a;
  border-radius: 50px;
}

.stopArticle h2 {
  font-size: 18px;
  text-align: center;
}

.commentTextArea {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 20px;
  padding: 5px;
}

.commentsSubmitButton {
  margin: auto;
  display: block;
  background-color: #9bde5f;
  border: 1px solid #8d8e8a;
  border-radius: 50px;
  height: 30px;
  width: 30%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}
