.mainHeading {
  text-align: center;
  color: #e85a4f;
}

.customSelect {
  display: block;
  width: 30%;
  margin: auto;
  text-align-last:center;
}

.tripArticleHeading {
  font-size: 20px;
  text-align: center;
}

.subArticleHeading {
  font-size: 18px;
  text-align: center;
}

.tripInfo {
  background-color: #d8c3a5;
  border: 1px solid #8d8e8a;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border-radius: 50px;
  padding: 10px;
}
